extends adminLayout

block adminFill
    a.adminChange.btn.btn-default(href='/admin/recordsapi/presidencyactions/report') Download Purchase Records
    a.adminChange.btn.btn-default#clearFailedPurchases Sanitize Database
