extends layout

block content
  h3 Check out our newest music video!
  iframe(width="560", height="315", src="https://www.youtube.com/embed/PVpzlSZMWyw", frameborder="0", allowfullscreen)
  h4 Follow us on instagram, twitter & facebook for more funny content and for chances to win free tickets & be in our music videos!


