doctype html
html
  head
    title= title + ' - Divine Comedy'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js' type='text/javascript')
    block includes
  body
    div#container
      div#header-container
        table
          tbody
            tr
              td.logo
                img(src='/images/DC Logo.png')
                h2 Celebrating 20.5 Years of Funny
              td.header-right
                span follow the funny
                span
                  a.socialButton(href='https://www.facebook.com/byudivinecomedy')
                    img(src='/images/social-facebook.svg')
                  a.socialButton(href='https://twitter.com/BYUDivineComedy')
                    img(src='/images/social-twitter.svg')
                  a.socialButton(href='http://www.youtube.com/user/BYUDivineComedy')
                    img(src='/images/social-youtube.svg')
                  a.socialButton(href='http://www.pinterest.com/byucfac/divine-comedy')
                    img(src='/images/social-pinterest.svg')
                  a.socialButton(href='http://instagram.com/byudivinecomedy')
                    img(src='/images/social-instagram.svg')
      div#banner
        img(src='/images/big-dog-banner.jpg')
      div#main
        block content
      div#footer