extends layout

block content
  h2 Shows
  table
    tbody
      tr
        td
          p.
            Every semester we have 3 shows: 2 with brand new material, 1 Best Of Show. They usually run about 1.5 hours.
            With bumpin' music, candy falling from the skies, glow sticks blasted into the audience, and joyous laughter for days to come; things get crazy fun! So be ready for that!
            Date and Time: Friday & Saturday night 7 PM and 9 PM.
            Tickets: Tickets are $5. What a steal of a deal! Starting in 2015, they will no longer be sold at the Wilk Info Desk. They are only available online, here on our website!
            Location: We have 3 different locations where we have our shows. Each show is usually in a different venue to keep it fresh and for more audience capacity. One show is in TNRB 151, an auditorium in the Tanner Building  (that's the tall light greyish building where the Marriott School is stationed). Another show is in the Varsity Theatre in the Wilkinson Center next to Jamba Juice. Our Best Of Show is almost always in the JSB Auditorium (Joseph Smith Building), we'll let you know otherwise if it's not.
            Getting a good seat: We do not reserve seats. Most people would agree that getting your favorite seat requires that you get in line about an hour early for regular shows, about an hour and a half for Best Of shows. A lot of people bring games while they wait in line; it's fun! Keep in mind we usually have a packed house, so we ask our guests to be courteous and make room for everyone coming in. Please do not save spots in line, especially for parties of 4 or more, it's not fair when you got in line 1.5 hours before the show and then 10 minutes before a group of 20 people cuts in front of you! Not cool man (or woman), not cool.
            Environment: It’s a high-energy, family-friendly, glowstick-throwing party of a show! Be ready to laugh and cry and sing! No formal attire required.
            CAUTION: Flying projectiles are launched into the sky (such as candy and glowsticks), some are accidentally chucked into your face because some people have a terrible arm and don't know how to throw upwards instead down. However, even if you receive an eye puncture wound, you'll still enjoy the show. It's so funny you wont even realize that you're suffering from unbearable pain!
            Statistics and Facts:
          ul
            li 15% of dates to Divine Comedy lead to eternal marriage.
            li Laughter makes you more attractive.
            li A girl is 52% more likely to say YES to a date if you take her to a Divine Comedy show.
            li 9/10 of dentists recommend Divine Comedy for a better smile. The other dentist lost his license anyway, so don’t listen to him.
            li Divine Comedians’ tears cure spiritual cancer. It’s a real thing, treat it early.
        td
          img(href='images/april2015-poster.jpg')
          iframe(width="560", height="315", src="https://www.youtube.com/embed/FE73zSQoIz8", frameborder="0", allowfullscreen)
