#container {
    margin: 0 auto;
    width: 1000px;
    #header-container {
        height: 100px;
        .logo {
            img {
                display: inline-block;
            }
            h2 {
                vertical-align: middle;
                display: inline-block;
            }
        }
    }
}
div {
    border: solid black 3px;
}

